@import "settings";
@import "../../bower_components/foundation/scss/foundation";
@import "colors";
@import "palette";

// app specific styles here

body {
  margin: 0.2em 0;
  background: $offWhite;
  color: $primary-text-color;
  padding: 0.2em 0;
}

section {
  padding: 0.5em;
}

// used for the alternate list items
.odd {
  background-color: $primary-color;
}

.even {
  background-color: $divider-color;
}

// general Ui styles
.inline {
  display: inline;
}

// for active clickable items
.active {
  cursor: pointer;
}


// PANELS

// So the titles are lighter and vertically aligned
.panel-heading {
  h3 {
    //    border: solid 1px red;
    vertical-align: middle;
    margin-bottom: 0;
    color: $offWhite;
  }
  p {
    color: $offWhite;
  }
}


// POSTS

// adjust so the panel fits it's parent
.posts {
  padding: 0;
}

.post-date {
  text-align: right;
  margin-bottom: 0;
}

.post-title {
  color: $offWhite;
}


// add new link decoration for the email
.posts {
  a:link {
    text-decoration: none;
  }
  a:visited {
    color: $primary-color;
    text-decoration: none;
  }
  a:hover {
    color: $primary-color;
    text-decoration: none;
  }
  a:active {
    color: $primary-color;
    text-decoration: none;
  }
}

// ues media queries to fit a scrollable window in the maximum available space
@media screen and (orientation: portrait) {
  .tab-pane {
    height: calc(90vh - 90px);
    overflow-y:scroll;
  }
}

@media screen and (orientation: landscape) {
  .tab-pane {
    height: calc(65vw - 90px);
    overflow-y:scroll;
  }
}

