@import "settings";
@import "../../bower_components/foundation/scss/foundation";
@import "colors";
@import "palette";

// app specific styles here

body {
  margin: 0.2em 0;
  background: $offWhite;
  color: $primary-text-color;
  padding: 0.2em 0;
}

section {
  padding: 0.5em;
}

.qualifications {
  display: block;
  padding-left: 2em;

  ul {
    list-style: none;
    border-bottom: 1px solid $accent-color;
    border-right: 1px solid $accent-color;
  }
  //  style the list items so they stand out
  li {
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.5em;

    border-bottom: 1px solid $accent-color;
  }
}

// used for the alternate list items
.odd {
  background-color: $primary-color;
}

.even {
  background-color: $divider-color;
}

// for active clickable items
.active {
  cursor: pointer;
}

// so the list backgrounds don't stretch too far
.panel-body {
  width: 75%;
}

.panel-body-transactions {
  width: 100%;
}

//TOTAL

.total {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  //border: solid 1px $primary-color;
}

// TRANSACTIONS
.transactions {
  width: 100%;
//  border: solid 1px $primary-color;
}