<div style="debit">
    <form name="myForm" class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="withdrawal">Amount (in GBP)</label>

            <div class="input-group">
                <div class="input-group-addon">£</div>
                <input type="number" min="1" class="form-control" ng-model="amount" id="withdrawal" placeholder="Amount">

                <div class="input-group-addon">.00</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="withdraw()">Withdraw cash</button>
        <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.number">
      Not valid number!</span>
        </div>
    </form>

</div>