<!-- comment -->

<div class="row marketing row-info">
    <section class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" ng-controller="Wallet as wallet" ng-cloak>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Energy Aspects Code Challenge</h1>
            </div>
            <div class="panel-body">

                <total></total>
                <debit></debit>
            </div>

        </div>
    </section>
</div>


